.left-side {
  flex: 1; /*refers to parent*/
  display: flex; /*refers to self*/
  flex-direction: column; /*refers to self*/
}
#hp-prof-img {
  flex: 2; /*refers to parent*/
  display: flex;
  display: block;
  align-items: center;
  min-height: 50px;
}
#hp-prof-img img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
#hp-bio {
  flex: 1; /*refers to parent*/
  min-height: 100px;
  font-size: 50px;
  font-weight: bolder;
}
.right-side {
  flex: 1;
  width: 100%;
  height: 100vh;
}
.flex-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mid-wrap {
  flex: 1;
  display: flex; /*refers to self*/
}
#portfolio, #about, #blog, #contact {
  flex: 1;
  min-height: 100px;
  width: 100%;
}
#portfolio {
  background: magenta;
}
#about {
  background: green;
}
#blog {
  background: yellow;
}
#contact {
  background: orange;
}
